version: "3.8"

services:
    nodeapp:
        build:
            context: .
            dockerfile: dockerfile-web-service
        image: atlas_dns_api
        container_name: atlas_dns_container
        restart: unless-stopped
        ports:
            - "9000:3535"
        healthcheck:
            test: CMD ["curl", "--fail", "-s", "http://localhost:9000/health"] || exit 1
            interval: 1m30s
            timeout: 10s
            retries: 3
